<div>
Files list:
<p> Перегляд списку файлів інших користувачів:</p>
<p>Сортування за:</p>
<ol>
  <li>
    <%= sort_show_url(params[:action],'Типом','file_type')-%>
  </li>
  <li>
    <%= sort_show_url(params[:action],'Розміром','file_size') -%>
  </li>
  <li>
    <%= sort_show_url(params[:action],'Назвою','file_name') -%>
  </li>
</ol>
</div>

    <div class="colls">
        <div class="header"> File Name &nbsp </div>
        <div class="header field"> File Type &nbsp </div>
        <div class="header field ffield"> File Size &nbsp </div>
        <div class="header field ffield"> User &nbsp</div>
        <div class="header field ffield"> File Share &nbsp</div>
    </div>
    <div style="clear: both;height:0px;"> &nbsp </div>

    <% @fileslist.each do |sfile| %>
        <div class="colls">
          <div class="header" ><%= sfile.file_name -%></div>
          <div class="header field" ><%= sfile.file_type -%></div>
          <div class="header field ffield" ><%= sfile.file_size -%></div>
          <div class="header field ffield" ><%= user_name(sfile.user_id) -%></div>
          <div class="header field ffield" ><%= sfile.file_share -%></div>
        </div>
    <%end-%>
<div class="bottomt showpub">  &nbsp</div>

<div>
</div>
<div><%=link_to 'Back', :controller => "users", :action => "index"%></div>


